body {
    margin: 0;
    padding: 0;
}

main .container {
    max-width: 80rem;
    padding-bottom: 7.5rem;
    padding-top: 7.5rem;
}

.navigation {
    background: #fff;
    border-bottom: .1rem solid #d1d1d1;
    display: block;
    height: 5.2rem;
    left: 0;
    max-width: 100%;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1;
}

.navigation .container {
    padding-bottom: 0;
    padding-top: 0;
}

.navigation .navigation-link,
.navigation .navigation-title,
.navigation .title {
    display: inline;
    font-size: 1.6rem;
    line-height: 5.2rem;
    padding: 0;
    text-decoration: none;
}

.navigation .navigation-links {
    display: flex;
}

.navigation .navigation-link--wrapper:first-child {
    margin-left: 0;
}

.navigation .navigation-link--wrapper {
    margin-left: 24px;
}

main .header {
    padding-top: 5.2rem;
    background-color: #f4f5f6;
}

.card {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-bottom: 1rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    background: #fff;
    color: #444;
}

.card.card--raised {
    box-shadow: 0 0.2rem 0.4rem 0 rgba(0, 0, 0, .04), 0 0.2rem 1rem 0 rgba(0, 0, 0, .1);
}

.card__content {
    padding: 2rem;
    flex: 1 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-around;
    height: 8rem;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
}

.tabs .tab-item {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    text-align: center;
    border-right: 1px solid #e0e0e0;
}

.tabs .tab-item:last-child {
    border-right: none;
}

.tabs .tab-item p {
    margin: 0;
}